
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
     font-family: Baskerville Old Face;
    src: url(BASKVILL.TTF);
}
body{
    width: 100%;
}
/*------------------------------------------------------*/
nav{
    background-color: whitesmoke;
    height: 80px;
    width: 100%;
   position: absolute
}
.enlace{
    position: absolute;
    padding: 20px 50px;
}
.logo{
    height: 50px;
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: dimgrey;
    font-size: 18px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}
li a.active, li a:hover{
    background-color: gainsboro;
    transition: .5s;
}
.checkbtn{
    font-size: 30px;
    color: #26798E;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    border-top: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}


@media all and (max-width: 952px){
     nav{
         position: fixed;
    }
    .enlace{
        padding-left: 20px;
    }
    nav ul li a{
        font-size: 16px;
    }
}

@media all and (max-width: 858px){
    nav{
        position: fixed;
    }
    .checkbtn{
        display: block;
        margin-top: 30px;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: whitesmoke;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    li a:hover, li a.active{
        background: none;
        color: #26798e;
    }
    #check:checked ~ ul{
        left:0;
    }
}

/*-------------------------------------------------------------------*/




.suscripcion{
  width: 100%;
    height: 15%;
    background-color: whitesmoke;   
}

.pie{
    width: 100%;
    height: 60%;
    background-color: #26798e;
    color: white;
     display: flex;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
    flex-direction: column;
}



@media all and (min-width: 858px){
     .frase{height: 30%;
         
}
}
